---
import HeroIndex from "../components/HeroIndex.astro";
import Layout from "../layouts/Layout.astro";
import ServiceSection from "../components/ServiceSection.astro";
import ProjectsHighlights from "../components/ProjectsHighlights.astro";
import TestimonialSection from "../components/TestimonialSection.astro";
import CtaSection from "../components/CtaSection.astro";
---

<Layout>
	<div id="hero">
		<HeroIndex
			title="Diseño y Desarrollo de aplicaciones web "
			subtitle="Creamos sitios web modernos, rápidos y optimizados para negocios que quieren destacar en internet."
		/>
		<ServiceSection />

		<ProjectsHighlights />
		<TestimonialSection />
		<CtaSection />
	</div>
</Layout>
