---
import HeroIndex from "../components/HeroIndex.astro";
import Layout from "../layouts/Layout.astro";
import ServiceSection from "../components/ServiceSection.astro";
import CompanyLogos from "../components/CompanyLogos.astro";
import TestimonialSection from "../components/TestimonialSection.astro";
import CtaSection from "../components/CtaSection.astro";
---

<Layout
  title="Marea Creativa | Tu Agencia de Diseño Web y Soluciones IA 🚀"
  description="Multiplica tus ventas y ahorra cientos de horas con Marea Creativa. Desarrollamos sitios web, tiendas en línea, chatbots con IA y automatizaciones a medida."
  keywords="agencia desarrollo web, diseño web corporativo, automatizacion de procesos, chatbots ia, inteligencia artificial empresas, seo local, marketing digital"
  image="https://res.cloudinary.com/dgkdq8kzk/image/upload/v1771944145/home_hero_yqmogi.png"
>
  <div id="hero">
    <HeroIndex
      title="Tu empresa escalando las 24 horas, sin que tú ni tu equipo tengan que trabajar el doble."
      subtitle="Convertimos tu web en una máquina de ventas e implementamos automatizaciones que atienden a tus clientes 24/7."
    />
    <ServiceSection />

    <CompanyLogos />
    <TestimonialSection />
    <CtaSection />
  </div>
</Layout>
