---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div id="hero">
		<ol>
			<li>
				About us &rarr; Hacer de cero Experiencias &rarr; Proyectos &rarr;
				Ponemos las web que tengamos, habría que modificar un poco las cards
			</li>
			<li>
				Experiencias &rarr; Proyectos &rarr; Ponemos las web que tengamos,
				habría que modificar un poco las cards .
			</li>
			<li>
				Servicios &rarr; Listado de los servicios que hacemos. Ej: Desarrollo
				web, Rebranding, manejo de redes, etc.
			</li>
			<li>Contacto &rarr; dejamos tal cual</li>
		</ol>
	</div>
</Layout>
