---
import HeroIndex from "../components/HeroIndex.astro";
import Layout from "../layouts/Layout.astro";
import ServiceSection from "../components/ServiceSection.astro";
import CompanyLogos from "../components/CompanyLogos.astro";
import TestimonialSection from "../components/TestimonialSection.astro";
import CtaSection from "../components/CtaSection.astro";
---

<Layout>
  <div id="hero">
    <HeroIndex
      title="Tu empresa escalando las 24 horas, sin que tú ni tu equipo tengan que trabajar el doble."
      subtitle="Convertimos tu web en una máquina de ventas e implementamos automatizaciones que atienden a tus clientes 24/7."
    />
    <ServiceSection />

    <CompanyLogos />
    <TestimonialSection />
    <CtaSection />
  </div>
</Layout>
