<section class="py-16 bg-secondary text-white relative overflow-hidden">
  <div class="absolute inset-0 z-0">
    <img
      src="https://res.cloudinary.com/dgkdq8kzk/image/upload/v1756216204/marea_background_ico_dh5xdc.svg"
      alt="Background pattern"
      class="w-full h-full object-cover opacity-30"
      title="Background pattern"
      draggable="false"
    />
  </div>
  <div
    class="container mx-auto px-4 md:px-8 max-w-7xl text-center relative z-10"
  >
    <span class="text-3xl font-bold mb-4">
      ¿Listo para impulsar tu presencia digital?
    </span>
    <p class="text-xl mb-8 max-w-2xl mx-auto">
      Contáctanos hoy mismo y descubre cómo podemos ayudarte a alcanzar tus
      objetivos digitales.
    </p>
    <a
      href="/contacto"
      class="inline-block bg-gradient-to-r from-primary to-primary-700 text-white font-medium px-6 py-3 rounded-lg hover:bg-blue-700 transition-colors border border-blue-600"
      style="transition: box-shadow 700ms;"
      onmouseover="this.style.boxShadow='0 0 20px var(--color-primary)';"
      onmouseout="this.style.boxShadow='none';"
    >
      Habla con nosotros
    </a>
  </div>
</section>
