---
export interface Props {
	quote: string;
	author: string;
	company?: string;
}

const { quote, author, company } = Astro.props;
---

<div class="p-6 rounded-lg shadow-md">
	<div class="text-primary mb-4">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="32"
			height="32"
			fill="currentColor"
			viewBox="0 0 24 24"
		>
			<path
				d="M13 14.725c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275zm-13 0c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275z"
			></path>
		</svg>
	</div>
	<p class="text-gray-600 italic mb-4">{quote}</p>
	<div>
		<p class="font-bold">{author}</p>
		{company && <p class="text-gray-500 text-sm">{company}</p>}
	</div>
</div>
