---
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu";
import "../styles/global.css";
const {
	title = "M A R E A - Creativa . Dise침o y Desarrollo Web | SEO Local y Tiendas Online",
	description = "Agencia de dise침o y desarrollo web. Creamos sitios optimizados para SEO y ventas. 游 Webs r치pidas, seguras y a medida de tus necesidades",
	keywords = "dise침o web, desarrollo web, seo, tiendas online",
} = Astro.props;
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="https://res.cloudinary.com/dgkdq8kzk/image/upload/v1756154116/logo_blanco_icono_ylvs82.svg"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
	</head>
	<body>
		<header>
			<Menu client:load />
		</header>
		<main class="flex-grow bg-tertiary">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		font-family: system-ui, Roboto;
	}
</style>
