---
import Menu from "../components/Menu";
import "../styles/global.css";
const {
	title = "M A R E A - Creativa . Dise침o y Desarrollo Web | SEO Local y Tiendas Online",
	description = "Agencia de dise침o y desarrollo web. Creamos sitios optimizados para SEO y ventas. 游 Webs r치pidas, seguras y a medida de tus necesidades",
	keywords = "dise침o web, desarrollo web, seo, tiendas online",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
	</head>
	<body>
		<Menu client:load />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		font-family: system-ui, Roboto;
	}
</style>
